.axis path{
  fill: none;
 stroke: #000;
 shape-rendering: crispEdges;
}
.tick text{
  color: black;
  opacity: 1
}
.tooltip{
  line-height: 1;
font-weight: bold;
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
}
