circle{
  opacity: .75;
}
svg{
  margin: 0 auto;
}
.tooltip{
  background-color: #443355;
  padding: 15px;
  border-radius: 3px;
  color: white;
}
#US{
  fill: blue;
}
#UK{
  fill: red;
}
#Denmark{
  fill: #950000;
}
#Finland{
  fill: #000043;
}
#Denmark + text{
  z-index: 999;
  transform: translateY(-85px);
}
#Denmark + text, #US + text{
  fill: black;
}
