<html>
<head>
  <script src="/js/d3.min.js"></script>
  <script   src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bubble-graph.css">

  <title>Media Spending</title>
</head>
<body>
<div class="container">

  <div class="row">
    <h2>What's Making the Difference?</h2>
    <p>This chart shows each country's average scores on the domestic and international events tests compared with how much money
    the country as a whole spends on public media per capita. The larger the circle, the more money spent. Those countries who
     spent more tended to do better on the tests. As you can see, the US is the clear outlier. Hover over the circles for more info.</p>
    <a href='/'>Home</a>
    <a href='/credits'>Credits</a>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div id="bubble-chart"></div>
    </div>
  </div>
</div>
<script src="/js/bubble.js"></script>
</body>
</html>
