<html>
<head>
  <title>Political Knowledge</title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/d3.min.js"></script>
  <script src="/js/app.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/bar-graphs.css">

</head>
<body>
  <div id="US"></div>
  <div id="Denmark"></div>
  <div id="Finland"></div>
  <div id="UK"></div>
<script src="/js/bar.js"></script>
</body>
</html>
