<html>
<head>
  <title>Political Knowledge</title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/d3.min.js"></script>
  <script   src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/general.css">
  <link rel="stylesheet" type="text/css" href="/css/bar-graphs.css">

</head>
<body ng-app="myApp">

<div class="container">

  <div class="row">
    <h2>Knowledge on Current Events</h2>
    <p>It seems that in general, young Americans don't know as much about what's going on around them as the rest of the world.
    Participants from the US, UK, Denmark and Finland were given a series of calibrated questions about domestic, international
    and political events to test their knowledge of what's going on in the world. Scores were recorded for participants with
    high school, college and some college education levels. Below are the results of the tests. Choose a test type to get started.</p>
    <div class="buttons-div">
    <a href='/spending'>What's making the difference?</a>
  </div>
  </div>

  <div class="row graphs">
    <div class="col-md-5">
      <div id="US"></div>
    </div>

  <div class="col-md-2">
    <div id="select-div">
    <p>Choose a Test:</p>
    <select id="change-data">
      <option value="" selected id="blank">Select a test...</option>
      <option value="domestic.csv">Domestic</option>
      <option value="international.csv">International</option>
      <option value="political.csv">Political</option>
    </select>
  </div>
  </div>

    <div class="col-md-5">
      <tabset>
        <tab heading="Denmark">
          <div id="Denmark"></div>
        </tab>
        <tab heading="Finland">
          <div id="Finland"></div>
        </tab>
        <tab heading="UK">
          <div id="UK"></div>
        </tab>
    </tabset>
  </div>



  </div>
  <footer>Data comes from studies conducted in <strong>The Death and Life of American Journalism: The Media Revolution that Will Begin the World Again</strong> by  Robert W. McChesney and John Nichols
  </br>Site designed and developed by Patrick Seelinger &nbsp<a href="https://github.com/pseelinger">(github.com/pseelinger)</a></footer>
</div>


<script src="/js/bar.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
