<html>
<head>
  <title>Political Knowledge</title>
  <script src="/js/angular.min.js"></script>
  <script src="/js/d3.min.js"></script>
  <script   src="https://code.jquery.com/jquery-1.12.3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/bar-graphs.css">

</head>
<body ng-app="myApp">

<div class="container">

  <div class="row">
    <a href='/credits'>Credits</a>
    <div class="col-md-6">
      <h3>US Scores</h3>
      <div id="US"></div>
    </div>

    <div class="col-md-6">
      <tabset>
        <tab heading="Denmark">
          <div id="Denmark"></div>
        </tab>
        <tab heading="Finland">
          <div id="Finland"></div>
        </tab>
        <tab heading="UK">
          <div id="UK"></div>
        </tab>
    </tabset>
  </div>

  </div>

  <div class="row">
    <select id="change-data">
      <option value="domestic.csv">Domestic</option>
      <option value="international.csv">International</option>
      <option value="political.csv">Political</option>
    </select>
  </div>

</div>

<script src="/js/bar.js"></script>
<script src="/js/app.js"></script>

</body>
</html>
